<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/>
<meta name="author" content="author"/>
<link rel="stylesheet" href="template/style.css" type="text/css" media="screen" />
<title>About en Madrid Aloha</title>
<link rel="icon" type="image/png" href="template/img/ComMad.png" />
<style type="text/css">
	{{css}}
</style>
</head>

<body>

<div class="container">

	<div class="header">

		<div class="title">

		</div>

	</div>

	<div class="navigation">
			<a href="/">Inicio</a>
			<a href="/alojamientos">Todos</a>
			<a href="/about">About</a>
	</div>

	<div class="main">

		<div class="content">
			<big>
			<h1>AUTORÍA Y FUNCIONAMIENTO DE LA PRÁCTICA</h1></br>

			<h2><u>AUTORÍA: </u></h2></br>
			<b>Nombre: </b>Miguel Angulo Muñoz-Quirós</br>
			<b>Titulación: </b>Ingeniería en Sistemas de Telecomunicación</br></br>
			<h2><u>FUNCIONAMIENTO DE LA PRÁCTICA: </u></h2></br>
			En cuanto a la apariencia de la prática, en cada una de las paginas que se
			sirven a los navegadores de los usuarios aparece un banner del sitio en la zona superior,
			un formulario para entrar o salir del sitio en la parte superior derecha, una barra con el
			menú de opciones justo debajo de estas dos cosas, el cuerpo de la práctica y, por último,
			el pie de página.</br></br>

			A continuación se presentan las URLs que se corresponden con el funcionamiento general de
			esta práctica:</br></br>

			<b>· /admin/: </b> En esta dirección los usuarios podrán ser dados de alta. Una vez sean dados de
			alta, pasarán a ser considerados como usuarios registrados.</br></br>
			<b>· / : </b> Es la pagina principal de esta practica. Aqui se muestra un listado de los hoteles
			más comentados. En cada hotel podemos ver su nombre, que es un enlace a la url de es alojamiento
			en el portal esmadrid, su direccion, una imagen suya y un enlace que nos da mas informacion sobre
			ese alojamiento. En la columna de la derecha aparecen los enlaces a las distintas páginas personales
			de cada usuario registrado.</br></br>
			<b>· /usuario : </b> Página personal de un usuario. Aquí aparecen los alojamientos seleccionados por
			cada usuario, mostrándose para cada alojamiento seleccionado la misma información que en la página
			principal, además de la fecha en que fue seleccionado.</br></br>
			<b>· /alojamientos : </b> Página donde se muestran todos los alojamientos, cada uno con su nombre
			y un enlace a su página. Arriba aparece un formulario donde se pueden filtrar los alojamientos por
			categoría y subcategoría.</br></br>
			<b>· /alojamientos/id : </b> Es la página de un alojamiento en concreto, con toda su información
			(fotos, comentarios...).</br></br>
			<b>· /usuario/xml : </b> Canal XML para los alojamientos que ha seleccionado cada usuario.</br></br></br>
			</big>
		</div>

	</div>

		<div class="clearer"><span></span></div>


	<div class="footer">&copy; Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid</a>
		<a href="http://bit.ly/1T24Zsq"><br><b> ---> DESCRIPCIÓN (www.esmadrid.com) </b></br></a>
		<a href="http://www.esmadrid.com/opendata/alojamientos_es.xml">Documento XML</a>
	</div>

</div>

</body>

</html>
